.fixd {
    position: fixed;
    left: 0;
    top: 0;
    // z-index: -1;
    z-index: 6;
    width: 100%;
    // box-shadow: 0 1px 12px #44414142; }
  }
  .content-body {
    /*taps 1*/
  }
  .content-body {
    margin-top: 15px;
    //min-height: 600px;
    // padding-top: 50px;
  }
  .content-body .improv {
    box-shadow: 0 1px 12px #44414142;
    display: flex;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
  }
  .content-body .improv .improv-icon {
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 1px solid #ddd;
  }
  .content-body .improv .improv-icon .ico {
    padding: 15px;
    border-radius: 50%;
    background: linear-gradient(to right, #7e54c4, #d11fb0);
  }
  .content-body .improv .improv-icon .ico img {
    width: 40px;
  }
  .content-body .improv .improv-text {
    padding: 0 10px;
    text-align: center;
  }
  .content-body .improv .improv-text span {
    font-size: 3rem;
    font-weight: 700;
  }
  
  @media only screen and (min-width:0px) and (max-width: 575px){
    .content-body {
      padding-top: 97px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px){
    .content-body {
      padding-top: 85px;
    }
  
  }
  @media only screen and (min-width: 768px) and (max-width: 992px){
    .content-body {
      padding-top: 80px;
    }
  
  }
  @media only screen and (min-width: 993px) and (max-width: 1200px){
     .content-body {
      padding-top: 87px;
    }
  
  }
  @media only screen and (min-width: 1201px) {
     .content-body {
      padding-top: 29px;
    }
  
  }
  